page-login {

  .login-content{
  }

  .label-logo{
    color: green;
    font-size: 400%;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
  }

  .logo-imagep{
    
    text-align: center;
  }

  .logo-image{
    padding-top: 50px;
    height: 200px;
    width: auto;
  }

  .label-description{
    color: grey;
    font-size: 120%;
    text-align: center;
  }

  .top-row{
    height: 55%;
  }

  .bottom-row{
    height: 10%;
  }
  .or-text{
   text-align:center;
   font-size:120%;
   color: grey;
}

.terms-privacy{
    color: grey;
    font-size: 100%;
    text-align: center;
  }

  ion-spinner  {
    width: 50px;
    height: 50px;
    stroke: #444;
    fill: #222;
  }  

}
