page-postdetail {
 
 .time{
  position: absolute;
  right:0;
  margin-right: 10px;
 }
 
 #options{
   border : 1px solid silver;
   padding : 3px;
   margin-bottom:3px;
 }
 
 #commentOptions{
   border : 1px solid silver;
 }
 
 #commentTitle{
  border : 2px outset silver ;
 }
 
 #commentStyle
 {
  border : 1px solid silver ;
 }
 
  
}
