ion-app._gmaps_cdv_  .nav-decor{
  background-color: transparent  !important;
 }

page-notification-area {

#map1{
       height:80%;
	}

	#searchLocation{
	 position:relative;
	 top:0.4%;
	}
	
	.myLocation{
	 background-color: rgba(256,256,256,0.5);
	 
	}
	

}
