page-issue-post1 {

 
 #image1{
  margin-right:5px;
 }
 #image2{
  margin-right:5px;
 }
 
 .cancel1{
 top:0px;
 margin-right:2px;
 font-size:24px;
 }
 
 .cancel2{
  top:0px;
  margin-top:5px;
  margin-right:2px;
  font-size:24px;
 }

}
